body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #313E50;
}

.App {
  text-align: center;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e1dacb;
  color: #89B9CD;
}

.jumbotron-image{
  background: url('./images/backgroundphotoSky.png');
  background-position: center;
  background-size: cover;
  height: 90vh;
  font-size: 4rem;
  color: white;
  font-family: 'Comic Sans MS', cursive;
  text-shadow: 1px 2px 2px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
